/* DEFAULT STYLES */
html,
body {
    scroll-behavior: smooth;
    /* Set a default font for the entire document */
    font-family: 'Chakra Petch', 'Tahoma', sans-serif;
    /* Reset margins and padding for the entire document */
    margin: 0;
    padding: 0;
    background-color: #101010;
}

/* Make sure that margins and paddings are reset for
   all the headings and paragraphs as well */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 4.5rem;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.6rem;
}

button {
    cursor: pointer;
    transition: color 0.15s ease-in-out;
    font-family: 'Chakra Petch', 'Tahoma', sans-serif;
    font-size: 1.2rem;
}

.defaultButton {
    min-height: 50px;
    max-width: 200px;
    margin-top: 3.1rem;
    background-color: #0A3223;
    border: 1px solid #0A3223;
    border-radius: 8px;
    color: #d1d1d1;
}

.defaultButton:hover {
    background-color: #0B412F;
    border: 1px solid #d1d1d1;
}


/* HEADER */
header {
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100vw;
    min-height: 100px;
    background-color: #191919;
    color: #d1d1d1;
    box-shadow: 0 2px 4px #101010;
}

.headerLeftContainer {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-left: 1rem;
}

.topLeftImage {
    margin: 10%;
    border-radius: 50%;
}

.navMenu {
    padding-right: 1rem;
}

.navMenuButton {
    border: none;
    background: none;
    color: #d1d1d1;
}

.navMenuButton:hover {
    color: #085035;
    background-color: transparent;
    border: none;
}


/* MAIN CONTENT */
#mainContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #101010;
}


/* HOME */
#homeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    max-height: 80rem;
    background-image: linear-gradient(transparent, transparent, transparent, #101010), url("/images/dark-bg.png");
    background-size: cover;
}

.homeCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    color: #d1d1d1;
}

.homeSection1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 80%;
}

.homeCard p {
    max-width: 50rem;
    padding-top: 1.5rem;
    text-wrap: balance;
    font-size: 1.4rem;
}

.faceImage {
    border-radius: 50%;
    max-width: 80%;
    height: auto;
    padding-block: 4rem;
}


/* CARDS */
.card {
    margin-inline: 6%;
    padding-inline: 2rem;
    padding-top: 1.2rem;
    padding-bottom: 2rem;
    margin-block: 1rem;
    background-color: #191919;
    border-radius: 8px;
    color: #d1d1d1;
}

.card h2 {
    padding-bottom: 1.5rem;
}


/* IT SKILLS */
.itSkillsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
}

.itSkillsList itSkill {
    background-color: #0A3223;
    padding: 0.8rem;
    border-radius: 20px;

}


/* PROJECTS */
.projectsCard {
    display: flex;
    flex-direction: column;
    padding-bottom: 0; /* padding-bottom of .project takes care of this */
}

.projectsCard h2 {
    padding-bottom: 3rem;
}

.project {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap-reverse;
    gap: 2rem;
    padding-bottom: 3rem;
}

.projectDescription {
    flex: 1 1 55%;
}

.projectDescription h3 {
    padding-bottom: 1rem;
}

.projectImage {
    max-width: 100%;
    height: auto;
}


/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5rem;
    min-height: 20vw;
    background-color: #191919;
    color: #d1d1d1;
}

.footerSection1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8vw;
    padding-block: 2.5rem;
    padding-inline: 20vw;
}

.footerSection1 h2 {
    padding-bottom: 0.8rem;
}

.footerDescription {
    max-width: 50%;
    min-width: 250px;
    text-wrap: balance;
}

hr {
    min-width: 80vw;
    color: #d1d1d1;
}