/* DEFAULT STYLES */

html,
body {
    scroll-behavior: smooth;
    /* Set a default font for the entire document */
    font-family: 'Chakra Petch', 'Tahoma', sans-serif;
    /* Reset margins and padding for the entire document */
    margin: 0;
    padding: 0;
}

/* Make sure that margins and paddings are reset for
   all the headings and paragraphs as well */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.6rem;
}

button {
    cursor: pointer;
    border: 2px solid #075537;
    transition: color 0.15s ease-in-out;
    border-radius: 0.5rem;
    background-color: rgb(7, 85, 55);
    color: white;
    font-family: 'Chakra Petch', 'Tahoma', sans-serif;
    font-size: 1.2rem;
}

button:hover {
    color: rgb(7, 85, 55);
    background-color: white;
}



/* HEADER */

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100vw;
    background-color: rgb(7, 85, 55);
    color: white;
}

.headerLeftContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;
}

.navMenu {
    padding-right: 1rem;
}

.navMenuButton {
    border: none;
    background: none;
    background-color: rgb(7, 85, 55);
    color: white;
}

.navMenuButton:hover {
    color: rgb(20, 20, 20);
    background-color: rgb(7, 85, 55);
    border: none;
}


/* MAIN CONTENT */
.mainContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: beige;
}

/* CARDS */
.card {
    margin-inline: 8%;
    margin-block: 1rem;
    background-color: white;
    box-shadow: 0 0 2vh 1vh rgba(60, 60, 60, 0.637);
}

/* HOME */
.homeContainer {
    background-image: linear-gradient(white, white, beige);
}




/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 20vw;
    background-color: rgba(0, 0, 0, 0.95);
    color: white;
}

.footerSection1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8vw;
    padding-block: 2.5rem;
    padding-inline: 20vw;
}

.footerSection1 h2 {
    padding-bottom: 0.8rem;
}

.footerDescription {
    max-width: 50%;
    min-width: 250px;
    text-wrap: balance;
}

hr {
    min-width: 80vw;
    color: white;
}