<div class="card aboutCard">
  <div>
    <h2>About Me</h2>
    <p>
      I am a Computer, Communication, and Information Sciences student from Aalto University, currently at the beginning
      of my master's studies in the major 'Human-Computer Interaction'.
      <br /><br />
      In this website, you can find information on my skills, my education, and the projects I have previously worked
      on. Additionally, this website aims to showcase the basic web software development skills I possess.
      <br /><br />
      In the "Projects" section you can find brief descriptions for each of my projects, and links to their
      corresponding GitHub repositories.
      <br /><br />
      Feel free to also check out my LinkedIn page to get more information on, for example, my
      work experience. Links to my GitHub and LinkedIn can be found below.
    </p>
    <br /><br />
    <h3>My Links</h3>
    <br />
    <div class="links">
      <p>
        LinkedIn:&emsp;&emsp;<a href="https://www.linkedin.com/in/jiri-simell-006b42207/"
          target="_blank">linkedin.com/in/jiri-simell-006b42207/</a>
      </p>
      <p>
        GitHub:&emsp;&emsp;<a href="https://github.com/jsimell" target="_blank">github.com/jsimell</a>
      </p>
    </div>
  </div>
  <button class="defaultButton projectsButton" onclick="scrollToElement('projectsContainer')">See My Projects</button>
</div>