<div class="card aboutCard">
  <h2>About Me</h2>
  <p>
    I am a Computer, Communication, and Information Sciences student from Aalto University, currently at the beginning
    of my master's studies in Human-Computer Interaction. <br /><br />
    add content
  </p>
  <div>
    <a href="https://www.linkedin.com/in/jiri-simell-006b42207/" target="_blank"><img id="linkedinLink"
        src="/images/linkedin-logo.png" alt="linkedin logo/a link to my linkedin" height="30" width="30"></a>
    <a href="https://github.com/jsimell" target="_blank"><img src="/images/github-logo-black.png"
        alt="github logo/a link to my github" height="30" width="30"></a>
  </div>
</div>