<div class="card aboutCard">
  <h2>About Me</h2>
  <p>
    I am a Computer, Communication, and Information Sciences student from Aalto University, currently at the beginning
    of my master's studies in Human-Computer Interaction. <br /><br />
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a est bibendum orci faucibus dignissim. Nam
    maximus pulvinar est nec porta. Nullam ut arcu sed leo ornare sodales vel eget velit. Quisque sit amet blandit
    lacus. Etiam eu nisl a sapien tempus consectetur nec a ante. Donec quis dui lacinia, sollicitudin nibh ac,
    condimentum orci. Curabitur egestas sem non neque posuere scelerisque. Etiam maximus pretium dignissim. Etiam
    eleifend felis in vestibulum pellentesque. Vivamus posuere aliquet dui gravida interdum. Morbi eu commodo lectus, et
    varius dolor.
  </p>
  <br /><br />
  <div class="links">
    <h3>My Links:</h3>
    <div>
      <a href="https://www.linkedin.com/in/jiri-simell-006b42207/" target="_blank"><img id="linkedinLink"
          src="/images/linkedin-logo.png" alt="linkedin logo/a link to my linkedin" height="30" width="30"></a>
      <a href="https://github.com/jsimell" target="_blank"><img src="/images/github-logo-white.png"
          alt="github logo/a link to my github" height="30" width="30"></a>
    </div>
  </div>
  <button class="defaultButton" onclick="scrollToElement('projectsContainer')">See My Projects</button>
</div>