<!DOCTYPE html>
<h2>Education</h2>
<table>
  <tr>
    <th>Time of graduation</th>
    <th>Degree</th>
  </tr>
  <tr>
    <td>
      in progress
    </td>
    <td>
      Aalto University, M.Sc (Tech.), Computer, Communication, and Information Sciences -
      Human-Computer Interaction, graduation in 2026
    </td>
  </tr>
  <tr>
    <td>
      12/2023
    </td>
    <td>
      Aalto University, B.Sc (Tech.), Automation and Control Engineering,
      (Minor: Computer Science)
    </td>
  </tr>
</table>