<!DOCTYPE html>
<html>
  <head>
    <title>Curriculum Vitae - Jiri Simell</title>
  </head>
  <body>
    <h1>Education</h1>
    <table>
      <tr>
        <th>Time of graduation</th>
        <th>Degree</th>
      </tr>
      <tr>
        <td>
        in progress
        </td>
        <td>
        Aalto University, M.Sc (Tech.), Computer, Communication, and Information Sciences - 
        Human-Computer Interaction, graduation in 2026
        </td>
      </tr>
      <tr>
        <td>
        12/2023
        </td>
        <td>
        Aalto University, B.Sc (Tech.), Automation and Control Engineering, 
        (Minor: Computer Science)
        </td>
      </tr>
      <tr>
        <td>
        6/2019
        </td>
        <td>
        The Upper Secondary School of Munkkiniemi Coeducational School, Helsinki, 
        Finnish Matriculation Examination
        </td>
      </tr>
      <br/>
      <a href="/">Back to main page</a>
  </body>
</html>