<div class="card educationCard">
  <h2>Education</h2>
  <table>
    <tr>
      <td>
        <img src="/images/aalto-logo2.png" alt="Aalto University logo" height="70" width="70">
      </td>
      <td>
        In progress
      </td>
      <td>
        Aalto University, M.Sc (Tech.), Computer, Communication, and Information Sciences
        <ul>
          <li>Major: Human-Computer Interaction</li>
          <li>Minor: Software and Service Engineering</li>
          <li>Graduation 6/2026</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <img src="/images/aalto-logo1.png" alt="Aalto University logo" height="70" width="70">
      </td>
      <td>
        12/2023
      </td>
      <td>
        Aalto University, B.Sc (Tech.), Electrical Engineering
        <ul>
          <li>Major: Automation and Control Engineering</li>
          <li>Minor: Computer Science</li>
        </ul>
      </td>
    </tr>
  </table>
</div>