<h2>Jiri Simell</h2>
<p>A solution-oriented, persistent, and pragmatic Human-Computer Interaction student from Aalto University, with an
    eagerness to expand my knowledge in the field of software development.</p>
<h2>Links</h2>
<a href="https://www.linkedin.com/in/jiri-simell-006b42207/"><img src="/images/linkedin-logo.png"
        alt="linkedin logo/a link to my linkedin" height="30" width="30"></a>
<a href="https://github.com/jsimell"><img src="/images/github-logo-white.png" alt="github logo/a link to my github"
        height="30" width="30"></a>