<!DOCTYPE html>
<img id="faceImage" src="images/cv_photo.jpg" alt="** a photo of me **" width="350" height="350" />
<h1>Jiri Simell</h1>
<p>A solution-oriented, persistent, and pragmatic Human-Computer Interaction student from Aalto University, with an
    eagerness to expand my knowledge in the field of software development.</p>
<br /><br />
<div id="links">
    <h2>Links</h2>
    <a href="https://www.linkedin.com/in/jiri-simell-006b42207/" target="_blank"><img src="/images/linkedin-logo.png"
            alt="linkedin logo/a link to my linkedin" height="30" width="30"></a>
    <a href="https://github.com/jsimell" target="_blank"><img src="/images/github-logo-black.png" alt="github logo/a link to my github"
            height="30" width="30"></a>
</div>