<div class="homeHero">
  <div class="homeSection1">
    <h1>Jiri Simell</h1>
    <p>
      A solution-oriented, pragmatic, and persistent Human-Computer Interaction student from Aalto
      University, with an eagerness to expand my knowledge in the field of information technology.
    </p>
    <button class="defaultButton aboutMeButton" onclick="scrollToElement('aboutContainer')">About Me</button>
  </div>
  <img class="faceImage" src="images/cv_photo.jpg" alt="a photo of me" height="350" width="350" />
</div>