<div class="card homeCard">
  <img class="faceImage" src="images/cv_photo.jpg" alt="** a photo of me **" width="350rem" height="350rem" />
  <h1>Jiri Simell</h1>
  <p>
    A solution-oriented, pragmatic, and persistent Human-Computer Interaction student from Aalto
    University, with an eagerness to expand my knowledge in the field of software development.
  </p>
  <button onclick="scrollToElement('aboutContainer')">About Me</button>
  <a href="https://www.linkedin.com/in/jiri-simell-006b42207/" target="_blank"><img id="linkedinLink"
      src="/images/linkedin-logo.png" alt="linkedin logo/a link to my linkedin" height="30" width="30"></a>
  <a href="https://github.com/jsimell" target="_blank"><img src="/images/github-logo-black.png"
      alt="github logo/a link to my github" height="30" width="30"></a>
</div>