<!DOCTYPE html>
<html>
  <head>
    <title>Curriculum Vitae - Jiri Simell</title>
  </head>
  <body>
    <h1>IT Skills</h1>
    <p>
    With a strong focus on computer science in my studies, I have
    developed excellent skills for learning new programming languages
    and techniques in an independent and rapid manner.
    </p>
    <ul>
      <li>Scala</li>
      <li>C/C++</li>
      <li>Python</li>
      <li>Bash</li>
      <li>Linux</li>
      <li>PLC-programming</li>
      <li>JavaScript basics</li>
      <li>UML</li>
      <li>SQLite</li>
      <li>CSS</li>
      <li>HTML</li>
      <li>XML</li>
      <li>Solid Edge</li>
      <li>Microsoft Office</li>
    </ul>
    <br/>
    <a href="/">Back to main page</a>
  </body>
</html>