<!DOCTYPE html>
<html>
  <head>
    <title>Curriculum Vitae - Jiri Simell</title>
  </head>
  <body>
    <h1>Languages</h1>
    <table>
      <tr>
        <th>Language</th>
        <th>Proficiency</th>
      </tr>
      <tr>
        <td>Finnish</td>
        <td>Native</td>
      </tr>
      <tr>
        <td>English</td>
        <td>Excellent</td>
      </tr>
      <tr>
        <td>Swedish</td>
        <td>Satisfactory</td>
      </tr>
      <tr>
        <td>German</td>
        <td>Basics</td>
      </tr>
    </table>
  </body>
</html>