<h2>Projects</h2>
<h3>Traffic Simulator</h3>
<p>
  A group project in the Aalto University Object Oriented Programming with C++ course. On top of pure C++ programming
  skills, I learned a lot about working as part of a developer team. I learned what must be done to construct a C++
  program from scratch.
</p>
<h3>This Portfolio</h3>
<p>
  The portfolio on this site was the first web development project that I did on my own completely from scratch. My aim
  with this project was to learn vanilla JavaScript, HTML, and CSS, before delving deeper into more advanced development
  frameworks.
</p>