<div class="card projectsCard">
  <h2>Projects</h2>
  <div class="project">
    <img class="projectImage" src="/images/traffic-simulator.ss.png" alt="a screenshot from the traffic simulator"
      width="500" height="auto">
    <div class="projectDescription">
      <h3>Traffic Simulator</h3>
      <p>
        A group project in the Aalto University Object Oriented Programming with C++ course. On top of pure C++
        programming skills, I learned a lot about working as part of a developer team. Furthermore, I learned what is required to
        construct a C++ program from scratch.
      </p>
      <br>
      <p>
        My main responsibilities in the project were: creating initial implementations for the TrafficLight and
        Intersection classes, implementing the functionality of adding intersections and traffic lights to the
        city, creating the example city models, handling of situations where the input file is invalid, configuration management, 
        setting up the simple testing environment, and debugging.
      </p>
    </div>
  </div>
  <div class="project">
    <img class="projectImage" src="/images/portfolio-ss.png" alt="a screenshot from the traffic simulator" width="500"
      height="auto">
    <div class="projectDescription">
      <h3>This Portfolio</h3>
      <p>
        The portfolio on this site was my first complete web development project. My aim with this project was
        to learn vanilla JavaScript, HTML, and CSS, to acquire a good understanding of the underlying web development
        technologies before possibly delving deeper into higher level development frameworks.
      </p>
    </div>
  </div>
</div>