<!DOCTYPE html>
<html>
  <head>
    <title>Curriculum Vitae - Jiri Simell</title>
  </head>
  <body>
    <h1>Volunteering</h1>
    <p>
    I am currently in charge of managing the member register of the scout
    group Töölön Nuotioveikot ry. In this role, I use the Finnish scout
    register 'Kuksa' to maintain the memberships of our group and assist
    our members with possible membership-related issues.
    Additionally, I am responsible for maintaining the website of our scout
    group (toolonnuotioveikot.wordpress.com) using the WordPress
    platform.
    </p>
  </body>
</html>