<!DOCTYPE html>
<html>
  <head>
    <title>Curriculum Vitae - Jiri Simell</title>
  </head>
  <body>
    <h1>Work Experience</h1>
    <h2>University of Helsinki Property Services Ltd (HY247), Expert</h2>
    <h3><em>6-8/2023</em></h3>
    <p>
    My responsibilities included the development of the project bank,
    project archive and drawing archive used by the University of Helsinki
    Funds and Helsinki University Properties Ltd and compiling project
    materials into the new electronic archiving system.
    </p>
    </br>
    <h2>PHM Liikekiinteistöt, Greenspace Worker</h2>
    <h3><em>6-8/2022 and 6-8/2021</em></h3>
    <p>
    My responsibilities included leading a working team of three people,
    doing basic greenspace maintenance tasks, ensuring good-quality
    results, and transporting our working group and equipment from one
    location to another with a van and a trailer.
    </p>
    </br>
    <h2>Barona, Construction Assistant</h2>
    <h3><em>7-8/2020 and 6-7/2019</em></h3>
    <p>
    My responsibilities included taking care of the tidiness of the
    construction site and helping with small construction tasks.
    </p>
    <br/>
    <a href="/">Back to main page</a>
  </body>
</html>